@import url("https://db.onlinewebfonts.com/c/25e58c84029304f62c42b32734d0ab6c?family=Futura+BdCn+BT");

/*@font-face {*/
/*    font-family: 'FuturaBT-BoldCondensedItalic';*/
/*src: url("https://c.webfontfree.com/c.js?f=FuturaBT-BoldCondensedItalic") format('woff');*/
/*    font-weight: 700;*/
/*font-style: normal;*/
/*}*/

@font-face {
  font-family: "Futura BdCn BT";
  src: url("https://db.onlinewebfonts.com/t/25e58c84029304f62c42b32734d0ab6c.eot");
  src: url("https://db.onlinewebfonts.com/t/25e58c84029304f62c42b32734d0ab6c.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/25e58c84029304f62c42b32734d0ab6c.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/25e58c84029304f62c42b32734d0ab6c.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/25e58c84029304f62c42b32734d0ab6c.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/25e58c84029304f62c42b32734d0ab6c.svg#Futura BdCn BT")
      format("svg");
}

#WITH_LOCAL {
  font-family: "Futura BdCn BT", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.selectedTab {
  height: 2.2rem;
  margin: 0.6rem 0.4rem 0 0.5rem;
  font-family: NanumSquare;
  font-size: 2rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: black;
  min-height: auto;
  background-color: #f2f3f8;
  border: none;
  -webkit-appearance: menulist-text;
}

.slick-dots li button:before {
  color: #0044ff !important;
  width: 0.8rem;
  height: 0.8rem;
}

#mypageTitle {
  font-family: NanumSquare;
  font-size: 1.8rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding-top: 4rem;
  padding-bottom: 2.1rem;
}